body {
    background-image: linear-gradient(rgb(0,0,0) ,rgb(208, 38, 38),rgba(216, 180, 16));
}

.btn-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 20px 60px;
    background: transparent;
    border: none;
    border: 2px solid #000;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}